@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
* {
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    background-image: url('dictionary.jpg');
    background-size: cover;
    background-repeat: repeat-y;
}

.form {
    text-align: center;
    padding: 3% 0 0 0;
    position: relative;
    z-index: 2;
}

.input_search {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: solid rgb(165, 59, 156);
}

::placeholder {
    font-size: 1.5em;
    text-align: center;
    line-height: 30px;
}

.btn_search {
    height: 30px;
}

.search {
    background-color: rgb(165, 59, 156);
    color: white;
    margin: 3% auto;
    font-size: 1.5em;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    width: 300px;
    text-align: center;
    border: solid rgb(165, 59, 156);
    border-radius: 5px;
}

.container {
    padding: 2%;
}

.definitions {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: solid rgb(165, 59, 156);
    margin-bottom: 2%;
    padding-bottom: 1%;
    font-family: 'Dosis', sans-serif;
}

.title {
    padding: 1% 0 1% 0;
    text-align: center;
    font-family: 'Parisienne', cursive;
}

.citations {
    width: 100%;
    background-color: red;
    background-color: white;
    border-radius: 5px;
    border: solid rgb(165, 59, 156);
    padding-bottom: 1%;
    font-family: 'Dosis', sans-serif;
}

.expressions {
    width: 90vw;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    border: solid rgb(165, 59, 156);
    margin-bottom: 2%;
    padding-bottom: 1%;
    font-family: 'Dosis', sans-serif;
}

.container2 {
    width: 100vw;
    margin: 0;
}

.synonymes {
    width: 95vw;
    background-color: pink;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    border: solid rgb(165, 59, 156);
    margin-bottom: 2%;
    padding-bottom: 1%;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.ul_synonymes {
    display: inline-flex;
}

.li_synonymes {
    margin-left: 2em;
}

.lienAPI {
    width: 95vw;
    margin-bottom: 2%;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .container {
        display: flex;
    }
    .container2 {
        display: flex;
    }
    .definitions {
        width: 50%;
    }
    .citations {
        width: 50%;
        margin-left: 2%;
    }
    .title {
        font-size: 2em;
    }
}